.body {
	background-image: url(images/fon2.jpg);
}
.headBlock {
	background-image: url(images/fon1.jpg);
	height:200px;
	margin: 50px;
}
#headImage {
	height:200px;
}
#siteList {
	width:1400px;
	height:900px;
	margin:auto;
}
